.wrapper {
  display: grid;
  grid-template-columns: 1fr #{"min(60rem, 100%)"} 1fr;

  > * {
    grid-column: 2;
  }
}

.item-grid {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @media only screen and (max-width: 720px) {
    grid-template-columns: 1fr;
  }

  .item-card {
    padding: 1rem;
    background: var(--primary-background);
    border: 1px solid var(--primary-border);
    border-radius: 0.25rem;
    box-shadow: 0 0 10px -5px var(--primary-border),
      0 0 20px -5px var(--primary-border);
  }
}

.hero {
  padding: 1rem;
  background: var(--primary-background);
  border-bottom: 1px solid var(--primary-border);
  box-shadow: 0 0 10px -5px var(--primary-border),
    0 0 20px -5px var(--primary-border);

  .item-grid {
    padding: 0;
  }
}
