.chart {
  .labelGroup .tickLabel {
    font-family: var(--font-base-stack) !important;
    font-size: 0.75rem !important;
    font-weight: 300;
    fill: var(--primary-text) !important;
  }
  .tooltip-wrap {
    > div > div > div {
      --tooltip-background: var(--global-background);
      background: var(--tooltip-background) !important;
      color: var(--primary-text) !important;
      box-shadow: 0 0 10px -5px var(--primary-border),
        0 0 20px -5px var(--primary-border) !important;

      > div {
        border-right-color: var(--tooltip-background) !important;
        border-left-color: var(--tooltip-background) !important;
      }
    }
  }
}
