:root {
  --country-flag-size: 6rem;
  --country-flag-size-s: 4rem;
  --flag-placeholder-color: var(--fallback-content-color);
}

.country-flag {
  --flag-size: var(--country-flag-size);

  &.small {
    --flag-size: var(--country-flag-size-s);
  }

  --flag-max-width: #{"min(var(--flag-size), 100%)"};

  max-width: var(--flag-max-width);
  border-radius: 0.25rem;
}
