.country-card {
  --title-font-size: 1.25rem;
  --updated-time-font-size: 0.75rem;

  &.staged {
    --title-font-size: 1.5rem;
    --updated-time-font-size: 0.85rem;
  }

  display: grid;
  gap: 0.5rem;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .shield-icon {
      order: 999;
      justify-self: flex-end;
      margin-left: auto;
      fill: none;
      stroke: var(--fallback-content-color);
    }

    .country-heading {
      display: grid;
      .title {
        font-size: var(--title-font-size);
        font-weight: 800;
      }

      .updated-time {
        font-size: var(--updated-time-font-size);
        font-weight: 500;
      }
    }
  }

  .country-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
