.field {
  --font-size-ratio: 1;

  &.large {
    --font-size-ratio: 1.25;
  }

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.25rem;
  padding: 0.5rem;

  label {
    font-size: calc(0.75rem * var(--font-size-ratio));
    font-weight: 800;
    display: inline-flex;
    align-items: flex-end;
  }

  span {
    font-size: calc(1rem * var(--font-size-ratio));
    font-weight: 800;
  }
}
