:root {
  --font-base-stack: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  --global-background: hsl(216deg 29% 97%);
  --fallback-content-color: hsl(0deg 0% 0% / 8%);

  --primary-background: hsl(216deg 0% 100%);
  --primary-text: hsl(213deg 16% 11%);
  --primary-border: hsl(0deg 0% 0% / 8%);

  --gradient-danger-from: hsl(347deg 71% 48%);
  --gradient-danger-to: hsl(347deg 80% 58%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --global-background: hsl(220deg 5% 13%);
    --fallback-content-color: hsl(0deg 0% 100% / 25%);

    --primary-background: hsl(220deg 4% 15%);
    --primary-text: hsl(356deg 20% 95%);
    --primary-border: hsl(0deg 0% 0% / 25%);

    --gradient-danger-from: hsl(347deg 64% 31%);
    --gradient-danger-to: hsl(347deg 64% 51%);
  }
}

body {
  margin: 0;
  font-family: var(--font-base-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--global-background);
  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
